<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475111081375-md9an0bgd0hls9vc2ujgop40pv117rip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475111081375-md9an0bgd0hls9vc2ujgop40pv117rip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475111081375-7brtk03sil6d18m42sshj60pevdaa68l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2wL4NJ4cGT728xUlBMG7A7232ebJe6IM</string>
	<key>GCM_SENDER_ID</key>
	<string>475111081375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginformUsingFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginformapp-79fad</string>
	<key>STORAGE_BUCKET</key>
	<string>loginformapp-79fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475111081375:ios:c486d44b1f971c9187e9aa</string>
</dict>
</plist>